@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing;
}