@media only screen and (max-width: 900px) {
  #icon-div {
    width: auto;
    margin-bottom: -1rem;
  }
}
@media only screen and (max-width: 835px) {
  .heading-primary{
    font-size:8rem
  }
  .contact-heading {
    font-size: 8rem;
  }
  .text-box-border {
    border: .5rem solid white;
  }
}
@media only screen and (max-width: 700px) {
  .heading-primary{
    font-size:6rem
  }
  .heading-secondary{
    font-size: 1.5rem;
  }
  .heading-tertiary{
    padding: 1rem;
    font-size: 1rem;
  }
  .contact-heading {
    font-size: 6rem;
  }

}
@media only screen and (max-width: 520px) {
  .heading-primary{
    font-size:5rem
  }
  .heading-secondary{
    font-size: 1.2rem;
  }
  .contact-heading {
    font-size: 5rem;
  }

}
@media only screen and (max-width: 425px) {
  .heading-primary{
    font-size:4.5rem
  }
  .contact-heading {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 395px) {
    .heading-primary{
      font-size:4rem
    }
    .heading-secondary{
      font-size: 1rem;
    }
  .contact-heading {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 360px) {
    .icon{
      font-size: 2rem;
    }
}
//landscape

@media only screen and (max-height: 420px){
  .heading-primary{
    font-size:6rem
  }
  .icon {
    font-size: 2rem;
  }
  #icon-div{
    width: 70vw;
  }
  .heading-secondary{
    font-size: 1.4rem;
  }
  .heading-tertiary{
    font-size: 1rem;
  }
  .arrow {
    &__up {
      margin-bottom: 2rem;
    }
  
    &__down {
      margin-top: 2rem;
    }
    
  }
}
@media only screen and (max-height: 375px){
  .heading-primary{
    font-size:5rem
  }
  .icon {
    font-size: 1.4rem;
  }
  #icon-div{
    width: 70vw;
  }
  .heading-secondary{
    font-size: 1rem;
  }
  .heading-tertiary{
    font-size: .8rem;
  }
  .arrow {
    &__up {
      margin-bottom: 0rem;
    }
  
    &__down {
      margin-top: 0rem;
    }
    
  }
}
@media only screen and (max-height: 320px){
  .heading-primary{
    font-size:4rem
  }
  .icon {
    font-size: 2rem;
    padding: 1rem;
  }
  #icon-div{
    width: 70vw;
  }
  .heading-secondary{
    font-size: 1.2rem;
  }
  .heading-tertiary{
    font-size: .7rem;
  }
  .arrow {
    &__up {
      margin-bottom: 0rem;
    }
  
    &__down {
      margin-top: 0rem;
    }
    
  }
  #asshole{
    transform: translateY(5vh)
  }
  #asshole2{
    transform: translateY(5vh)
  }
  #asshole3{
    transform: translateY(5vh)
  }
  
}