.content {
    &-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    transform: translateY($content-offset);
    will-change: transform;
    backface-visibility: hidden;
    @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
    }
  }