<div id="container" class="container">
    <section class="background">
        <div class="content-wrapper">
            <p id="0-h1" class="heading-primary text-box-border moveInTop">Dave Funk</p>
            <p id="0-h2" class="heading-secondary u-margin-top-small moveInTop">Web Developer in Los Angeles, California</p>
            <img class="arrow arrow__down arrow__down--0 fadeIn" src="/img/downarrow.png" alt="scroll down">
        </div>
    </section>
    <section class="background">
        <div id="wrapper-1" class="content-wrapper">
            <img class="arrow arrow__up arrow__up--1" src="/img/uparrow.png" alt="scroll down">
            <p id="1-h1" class="heading-primary text-box-border">My Stack</p>
            <p id="1-h3" class="heading-tertiary mobileh2marginpull">Click Icons for Info</p>
            <div id="icon-div" class="tech-icon u-margin-top-small u-margin-bottom-small">
                <i id="1-icon-mongodb" class="icon devicon-mongodb-plain-wordmark"></i>
                <i id="1-icon-express" class="icon devicon-express-original"></i>
                <i id="1-icon-react" class="icon devicon-react-original-wordmark"></i>
                <i id="1-icon-nodejs" class="icon devicon-nodejs-plain-wordmark"></i>
            </div>
            <p id="1-h3" class="heading-tertiary u-margin-top-small">I am a MERN Stack developer. I specialize in React-Redux.</p>
            <p id='1-h3' style="padding-right:5rem;padding-left:5rem" class='heading-tertiary u-margin-top-small'>Also proficient in CSS3, HTML5, jQuery/jQuery Mobile, Sass/SCSS, Git and Heroku, CSS Frameworks (Bootstrap etc.), Express Backend ORM's (Sequelize, etc.)</p>
            <img class="arrow arrow__down arrow__down--1" src="/img/downarrow.png" alt="scroll down">
        </div>
    </section>
    <section class="background">
        <div id="wrapper-2" class="content-wrapper">
            <img class="arrow arrow__up" src="/img/uparrow.png" alt="scroll down">
            <p id="2-h1" class="heading-primary text-box-border">Portfolio</p>
            <p id="2-h2" class="u-margin-top-small heading-secondary">Click on project name for more info</p>
            <div class="portfolio-items u-margin-top-small">
                <div class="portfolio-box">
                    <p class="srtracker-hooks heading-tertiary text-box-border-thin">Overwatch SR Tracker
                    <div class="srtracker-hooks__tooltip">
                        <p class="srtracker-hooks__tooltip--tooltiptext">SR Tracker</p>
                        <p class="srtracker-hooks__tooltip--tooltiptext">Github Repo:
                            <a href="https://github.com/davidfunk13/overwatch-sr-tracker" target="_blank">Here</a>
                        </p>
                        <p class="srtracker-hooks__tooltip--tooltiptext">Deployed:
                            <a href="https://murmuring-peak-89599.herokuapp.com/" target="_blank">Here</a>
                        </p>
                        <img style="height:20vh" class="tooltipimg" src="/img/srt.png" alt="preview">
                    </div>
                    <p class="reddit heading-tertiary text-box-border-thin u-margin-bottom-small">React oAuth Reddit Client</p>
                    <div class="reddit__tooltip">
                        <p class="reddit__tooltip--tooltiptext">React Reddit Client</p>
                        <p class="reddit__tooltip--tooltiptext">Github Repo:
                            <a href="https://github.com/davidfunk13/react-reddit" target="_blank">Here</a>
                        </p>
                        <p class="reddit__tooltip--tooltiptext">Deployed:
                            <a href="https://dave-react-reddit.herokuapp.com/" target="_blank">Here</a>
                        </p>
                        <img class="tooltipimg" src="/img/react-reddit.png" alt="preview">
                    </div>
                    <p class="hazmat heading-tertiary text-box-border-thin">Hazmat Media Website</p>
                    <div class="hazmat__tooltip">
                        <p class="hazmat__tooltip--tooltiptext">Hazmat Media Inc. Company Website</p>
                        <p class="hazmat__tooltip--tooltiptext">Github Repo:
                            <a href="https://github.com/davidfunk13/hazmat" target="_blank">Here</a>
                        </p>
                        <p class="hazmat__tooltip--tooltiptext">Deployed:
                            <a href="http://www.hazmatmedia.com" target="_blank">Here</a>
                        </p>
                        <img class="tooltipimg" src="/img/hazmat.png" alt="preview">
                    </div>
                </div>
            </div>
            <img class="arrow arrow__down" src="/img/downarrow.png" alt="scroll down">

        </div>
    </section>
    <section class="background">
        <div id="wrapper-3" class="content-wrapper">
            <img class="arrow arrow__up" src="/img/uparrow.png" alt="scroll down">
            <p id="3-h1" class="contact-heading heading-primary text-box-border">Contact Info</p>
            <a href="mailto:davefunkdev@gmail.com">
                <p id="3-h2" class="heading-secondary u-margin-bottom-small u-margin-top-small">davefunkdev@gmail.com</p>
            </a>
            <p id="3-h3" class="heading-tertiary">I am available for freelance work and fulltime employment.</p>
        </div>
    </section>
</div>