<div class="container">
    <section class="background">
        <div class="content-wrapper">
            <p class="heading-primary text-box-border moveInTop">Dave Funk</p>
            <p class="heading-secondary u-margin-top-small">Web Developer in Los Angeles, California</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="heading-primary text-box-border">Tech I Use</p>
            <div class="tech-icon u-margin-top-small u-margin-bottom-small">
                <i class="icon devicon-css3-plain-wordmark"></i>
                <i class="icon devicon-express-original"></i>
                <i class="icon devicon-git-plain-wordmark"></i>
                <i class="icon devicon-heroku-original-wordmark"></i>
                <i class="icon devicon-html5-plain-wordmark"></i>
                <i class="icon devicon-illustrator-line"></i>
                <i class="icon devicon-javascript-plain"></i>
                <i class="icon devicon-jquery-plain-wordmark"></i>
                <i class="icon devicon-mongodb-plain-wordmark"></i>
                <i class="icon devicon-nodejs-plain-wordmark"></i>
                <i class="icon devicon-photoshop-line"></i>
                <i class="icon devicon-react-original-wordmark"></i>
                <i class="icon devicon-sass-original"></i>
                <i class="icon devicon-sequelize-plain-wordmark"></i>
                <i class="icon devicon-bootstrap-plain-wordmark"></i>
            </div>
            <p class="heading-tertiary u-margin-top-small">These are the current technologies I am familiar with and have used. This list is ever growing!</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="heading-primary text-box-border">Portfolio</p>
            <p class="heading-secondary u-margin-top-small u-margin-bottom-small">Portfolio Items</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="heading-primary text-box-border">Contact Info</p>
            <a href="mailto:davefunkdev@gmail.com">
                <p class="heading-secondary u-margin-bottom-small u-margin-top-small">davefunkdev@gmail.com</p>
            </a>
            <p class="heading-tertiary">I am available for freelance work and fulltime employment.</p>
        </div>
    </section>
</div>