<div class="container">
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Dave Funk</p>
            <p class="content-subtitle">Web Developer in Los Angeles, California</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Tech I Use</p>
            <p class="content-subtitle">These are the current technologies I am familiar with and have used. This list is ever growing!</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Portfolio</p>
            <p class="content-subtitle">Portfolio Items</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p class="content-title">Contact Info</p>
            <p class="content-subtitle">My Contact Info</p>
        </div>
    </section>
</div>