<div class="container">
    <section class="background">
        <div class="content-wrapper">
            <p id="0" class="heading-primary text-box-border">Dave Funk</p>
            <p class="heading-secondary">Web Developer in Los Angeles, California</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p id="1" class="heading-primary text-box-border">Tech I Use</p>
            <p class="heading-secondary">These are the current technologies I am familiar with and have used. This list is ever growing!</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p id="2" class="heading-primary text-box-border">Portfolio</p>
            <p class="heading-secondary">Portfolio Items</p>
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <p id="3" class="heading-primary text-box-border">Contact Info</p>
            <p class="heading-secondary">My Contact Info</p>
        </div>
    </section>
</div>