<div id="container" class="container">
    <section class="background">
        <div class="content-wrapper">
            <p id="0-h1" class="heading-primary text-box-border moveInTop">Dave Funk</p>
            <p id="0-h2" class="heading-secondary u-margin-top-small moveInTop">Web Developer in Los Angeles, California</p>
            <img class="downarrow" src="/img/downarrow.png" alt="scroll down">
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <img class="uparrow" src="/img/uparrow.png" alt="scroll down">
            <p id="1-h1" class="heading-primary text-box-border">Tech I Use</p>
            <div id="icon-div" class="tech-icon u-margin-top-small u-margin-bottom-small">
                <i id="1-icon-css" class="icon devicon-css3-plain-wordmark"></i>
                <i id="1-icon-express" class="icon devicon-express-original"></i>
                <i id="1-icon-git" class="icon devicon-git-plain-wordmark"></i>
                <i id="1-icon-heroku" class="icon devicon-heroku-original-wordmark"></i>
                <i id="1-icon-html" class="icon devicon-html5-plain-wordmark"></i>
                <i id="1-icon-illustrator" class="icon devicon-illustrator-line"></i>
                <i id="1-icon-javascript" class="icon devicon-javascript-plain"></i>
                <i id="1-icon-jquery" class="icon devicon-jquery-plain-wordmark"></i>
                <i id="1-icon-mongodb" class="icon devicon-mongodb-plain-wordmark"></i>
                <i id="1-icon-nodejs" class="icon devicon-nodejs-plain-wordmark"></i>
                <i id="1-icon-photoshop" class="icon devicon-photoshop-line"></i>
                <i id="1-icon-react" class="icon devicon-react-original-wordmark"></i>
                <i id="1-icon-sass" class="icon devicon-sass-original"></i>
                <i id="1-icon-sequelize" class="icon devicon-sequelize-plain-wordmark"></i>
                <i id="1-icon-bootstrap" class="icon devicon-bootstrap-plain-wordmark"></i>
            </div>
            <p id="1-h3" class="heading-tertiary u-margin-top-small">These are the current technologies I am familiar with and have used. This list is ever growing!</p>
            <img class="downarrow" src="/img/downarrow.png" alt="scroll down">
        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <img class="uparrow" src="/img/uparrow.png" alt="scroll down">
            <p id="2-h1" class="heading-primary text-box-border">Portfolio</p>
            <p id="2-h2" class="u-margin-top-small heading-secondary">Click on project name for more info</p>
            <div class="portfolio-items u-margin-top-small">
                <div class="portfolio-box">
                    <p class="srtracker heading-tertiary text-box-border-thin">Overwatch SR Tracker</p>
                    <p id="2-h3" class="u-margin-top-small heading-tertiary">Work in Progress</p>
                    <div id="srtracker_tooltip">
                        <p class="tooltiptext">Github Repo:
                            <a href="https://github.com/davidfunk13/srtracker">Here</a>
                        </p>
                        <img class="tooltipimg" src="/img/srtracker.png" alt="preview">
                    </div>
                </div>
            </div>
            <img class="downarrow" src="/img/downarrow.png" alt="scroll down">

        </div>
    </section>
    <section class="background">
        <div class="content-wrapper">
            <img class="uparrow" src="/img/uparrow.png" alt="scroll down">
            <p id="3-h1" class="contact-heading heading-primary text-box-border">Contact Info</p>
            <a href="mailto:davefunkdev@gmail.com">
                <p id="3-h2" class="heading-secondary u-margin-bottom-small u-margin-top-small">davefunkdev@gmail.com</p>
            </a>
            <p id="3-h3" class="heading-tertiary">I am available for freelance work and fulltime employment.</p>

        </div>
    </section>
</div>