@import url(https://fonts.googleapis.com/css?family=Montserrat);
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(500%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-500%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes come-in {
  to {
    transform: translateY(0); } }

.moveInBottom {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-fill-mode: both; }

.moveInTop {
  animation-name: moveInTop;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-fill-mode: both; }

.fadeIn {
  animation: fadeIn 1.4s 1.5s both; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 62.5%; }

.heading-primary {
  text-align: center;
  font-size: 10rem;
  line-height: 1.4;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase; }

.heading-secondary {
  text-align: center;
  font-size: 2rem;
  line-height: 1.4;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: .2rem; }

.heading-tertiary {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: .1rem;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase; }

a:link {
  text-decoration: none; }

.tooltiptext {
  font-family: Montserrat;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  padding-bottom: .5rem;
  text-align: center;
  text-transform: uppercase; }

.mobileh2marginpull {
  margin-top: 1.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-bottom: 8rem; }

.text-box-border {
  border: 1rem solid white;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.text-box-border-thin {
  border: .2rem solid white;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.arrow {
  width: 3rem;
  margin-left: auto;
  margin-right: auto; }
  .arrow__up {
    margin-bottom: 5rem; }
  .arrow__down {
    margin-top: 5rem; }

.tech-icon {
  width: 90rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; }

.icon {
  text-align: center;
  font-size: 5rem;
  color: white;
  background-color: #454555;
  -webkit-clip-path: polygon(50% 10%, 85% 25%, 85% 75%, 50% 90%, 15% 75%, 15% 25%);
  clip-path: polygon(50% 10%, 85% 25%, 85% 75%, 50% 90%, 15% 75%, 15% 25%);
  padding: 2rem;
  border: 1px solid white; }

.tooltiptext {
  display: none; }

.portfolio-items {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-flow: wrap;
  width: 100%;
  height: auto; }

.srtracker__tooltip {
  font-size: 5rem;
  display: none; }
  .srtracker__tooltip--tooltiptext {
    font-family: Montserrat;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase; }

.reddit__tooltip {
  font-size: 5rem;
  display: none; }
  .reddit__tooltip--tooltiptext {
    font-family: Montserrat;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase; }

.tooltipimg {
  max-width: 100%;
  border: 1px solid black; }

.qtip-content {
  text-align: center; }

.hazmat__tooltip {
  font-size: 5rem;
  display: none; }
  .hazmat__tooltip--tooltiptext {
    font-family: Montserrat;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase; }

@media only screen and (max-width: 900px) {
  #icon-div {
    width: auto;
    margin-bottom: -1rem; } }

@media only screen and (max-width: 835px) {
  .heading-primary {
    font-size: 8rem; }
  .contact-heading {
    font-size: 8rem; }
  .text-box-border {
    border: .5rem solid white; } }

@media only screen and (max-width: 700px) {
  .heading-primary {
    font-size: 6rem; }
  .heading-secondary {
    font-size: 1.5rem; }
  .heading-tertiary {
    padding: 1rem;
    font-size: 1rem; }
  .contact-heading {
    font-size: 6rem; }
  .mobileh2marginpull {
    margin-top: 0rem;
    margin-bottom: -2.2rem; }
  #wrapper-3 {
    transform: translateY(5vh); }
  .arrow__up {
    margin-bottom: 2rem; }
    .arrow__up--1 {
      margin-bottom: 2rem; }
  .arrow__down {
    margin-top: 1rem; }
    .arrow__down--1 {
      margin-top: 1rem; } }

@media only screen and (max-width: 520px) {
  .heading-primary {
    font-size: 5rem; }
  .heading-secondary {
    font-size: 1.2rem; }
  .contact-heading {
    font-size: 5rem; } }

@media only screen and (max-width: 425px) {
  .heading-primary {
    font-size: 4.5rem; }
  .contact-heading {
    font-size: 4.5rem; } }

@media only screen and (max-width: 395px) {
  .heading-primary {
    font-size: 4rem; }
  .heading-secondary {
    font-size: 1rem; }
  .contact-heading {
    font-size: 3.2rem; } }

@media only screen and (max-width: 360px) {
  .icon {
    font-size: 2rem; } }

@media only screen and (max-height: 420px) {
  .heading-primary {
    font-size: 6rem; }
  .icon {
    font-size: 2rem; }
  #icon-div {
    width: 70vw; }
  .heading-secondary {
    font-size: 1.4rem; }
  .heading-tertiary {
    font-size: 1rem; }
  .arrow__up {
    margin-bottom: 2rem; }
  .arrow__down {
    margin-top: 2rem; } }

@media only screen and (max-height: 375px) {
  .heading-primary {
    font-size: 5rem; }
  .icon {
    font-size: 1.4rem; }
  #icon-div {
    width: 70vw; }
  .heading-secondary {
    font-size: 1rem; }
  .heading-tertiary {
    font-size: .8rem; }
  .arrow__up {
    margin-bottom: 0rem; }
  .arrow__down {
    margin-top: 0rem; } }

@media only screen and (max-height: 320px) {
  .heading-primary {
    font-size: 3.6rem; }
  .mobileh2marginpull {
    margin-top: 0rem;
    margin-bottom: -2.2rem; }
  .icon {
    font-size: 2rem;
    padding: 1rem; }
  #icon-div {
    width: 70vw; }
  .heading-secondary {
    font-size: 1.2rem; }
  .heading-tertiary {
    font-size: .7rem; }
  .arrow__up {
    margin-bottom: 1rem; }
  .arrow__down {
    margin-top: 0rem; }
    .arrow__down--0 {
      margin-top: 1rem; }
  #wrapper-1 {
    transform: translateY(5vh); }
  #wrapper-2 {
    transform: translateY(5vh); }
  #wrapper-3 {
    transform: translateY(5vh); } }

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 125vh;
  position: fixed;
  width: 100%;
  transform: translateY(25vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1); }
  .background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .background:first-child {
    background-color: #20418e;
    transform: translateY(-12.5vh); }
    .background:first-child .content-wrapper {
      transform: translateY(12.5vh); }
  .background:nth-child(2) {
    background-color: #272932; }
  .background:nth-child(3) {
    background-color: #f58f29; }
  .background:nth-child(4) {
    background-color: #828489; }

.background:nth-child(1) {
  z-index: 3; }

.background:nth-child(2) {
  z-index: 2; }

.background:nth-child(3) {
  z-index: 1; }

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1); }

.background.down-scroll {
  transform: translate3d(0, -125vh, 0); }
  .background.down-scroll .content-wrapper {
    transform: translateY(40vh); }
  .background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -12.5vh, 0); }
    .background.down-scroll + .background:not(.down-scroll) .content-wrapper {
      transform: translateY(12.5vh); }

.background.up-scroll {
  transform: translate3d(0, -12.5vh, 0); }
  .background.up-scroll .content-wrapper {
    transform: translateY(12.5vh); }
  .background.up-scroll + .background {
    transform: translate3d(0, 25vh, 0); }
    .background.up-scroll + .background .content-wrapper {
      transform: translateY(25vh); }
