/* RGB */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(500%); }
  65% {
    opacity: .5;
    transform: translateY(250%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes come-in {
  to {
    transform: translateY(0); } }

.moveInBottom {
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 62.5%; }

.heading-primary {
  text-align: center;
  font-size: 12vh;
  line-height: 1.4;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase; }

.heading-secondary {
  text-align: center;
  font-size: 1vh;
  line-height: 1.4;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.text-box-border {
  border: 1rem solid white;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem; }

.background.up-scroll {
  transform: translate3d(0, -15vh, 0); }
  .background.up-scroll .content-wrapper {
    transform: translateY(15vh); }
  .background.up-scroll + .background {
    transform: translate3d(0, 30vh, 0); }
    .background.up-scroll + .background .content-wrapper {
      transform: translateY(30vh); }

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1); }
  .background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .background:first-child {
    background-color: white;
    transform: translateY(-15vh); }
    .background:first-child .content-wrapper {
      transform: translateY(15vh); }
  .background:nth-child(2) {
    background-color: green; }
  .background:nth-child(3) {
    background-color: blue; }
  .background:nth-child(4) {
    background-color: red; }

.background:nth-child(1) {
  z-index: 3; }

.background:nth-child(2) {
  z-index: 2; }

.background:nth-child(3) {
  z-index: 1; }

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1); }

.background.down-scroll {
  transform: translate3d(0, -130vh, 0); }
  .background.down-scroll .content-wrapper {
    transform: translateY(40vh); }
  .background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0); }
    .background.down-scroll + .background:not(.down-scroll) .content-wrapper {
      transform: translateY(15vh); }
