.tech-icon {
  width: 90rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  text-align: center;
  font-size: 5rem;
  color: white;
  background-color: rgb(69, 69, 85);
  -webkit-clip-path: polygon(50% 10%, 85% 25%, 85% 75%, 50% 90%, 15% 75%, 15% 25%);
  clip-path: polygon(50% 10%, 85% 25%, 85% 75%, 50% 90%, 15% 75%, 15% 25%);
  padding: 2rem;
  border: 1px solid white
}
@media only screen and (max-width: 768px) {
  .tech-icon {
    width: auto;
  }
}
@media only screen and (min-height: 300px) and (max-height: 411px) {
    #icon-div {
    max-width: 90vw;
    max-height: 50vh;
    margin-bottom: 1rem;
  }
  .icon {
    text-align: center;
    font-size: 2.1rem;
    color: white;
    background-color: rgb(69, 69, 85);
    -webkit-clip-path: polygon(50% 10%, 85% 25%, 85% 75%, 50% 90%, 15% 75%, 15% 25%);
    clip-path: polygon(50% 10%, 85% 25%, 85% 75%, 50% 90%, 15% 75%, 15% 25%);
    padding: 2rem;
    border: 1px solid white
  }
}