.portfolio-items {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap;
    width: 100%;
    height: auto;
}

.portfolio-box{
    margin-left: 1rem;
    margin-right: 1rem;
}

.srtracker__tooltip{
    font-size: 5rem;
    display: none;
    &--tooltiptext {
        font-family: Montserrat;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding-bottom: .5rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.srtracker-hooks__tooltip{
    font-size: 1rem;
    display: none;
    &--tooltiptext {
        font-family: Montserrat;
        font-size: 1.25rem;
        letter-spacing: .1rem;
        text-align: center;
        text-transform: uppercase;
    }
    &--underConstruction{
        text-decoration: underline;
    }
}

.vanilla-reddit__tooltip{
    font-size: 1rem;
    display: none;
    
    &--tooltiptext {
        font-family: Montserrat;
        font-size: 1.25rem;
        letter-spacing: .1rem;
        text-align: center;
        text-transform: uppercase;
    }
    
    &--underConstruction{
        text-decoration: underline;
    }
}

.srtracker-hooks{
    margin-bottom: 1.5rem;
}

.reddit__tooltip{
    font-size: 5rem;
    display: none;
    &--tooltiptext {
        font-family: Montserrat;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding-bottom: .5rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.tooltipimg{
    max-width: 100%;
    border: 1px solid black;
}

.qtip-content{
    text-align: center;
}

.hazmat__tooltip{
    font-size: 5rem;
    display: none;
    &--tooltiptext {
        font-family: Montserrat;
        font-size: 1.3rem;
        letter-spacing: .2rem;
        padding-bottom: .5rem;
        text-align: center;
        text-transform: uppercase;
    }
}