.portfolio-items {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap;
    width: 100%;
    height: auto;
}

.srtracker_tooltip{
    font-size: 5rem;
    display: none;
}
.tooltipimg{
    max-width: 100%;
    border: 1px solid black;
}
.qtip-content{
    text-align: center;
}