.portfolio-items {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap;
    width: 100%;
    height: auto;
}

.portfolio-box {
    width: 35%;
    &__screenshot {
        padding: 1rem;
        padding-bottom: .5rem;
        display: flex;
        justify-content: center;
        &--img {
            border: 1px solid black;
            height: 15rem;
        }
    }
}