@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(500%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-500%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes come-in {
    to { transform: translateY(0); }
  }

  .moveInBottom {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: both;
  }
  .moveInTop {
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: both;
  }